.service_item {
  padding: 2em;
  border-radius: 0.75rem;
  border: 1px solid #d1d5db;
  list-style: none;
  margin: 1rem auto;
  width: 85%;
  max-width: 600px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  &.hoverEnabled:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    border-color: #2563eb;
    transform: translateY(-4px);
    cursor: pointer;
  }
}

.service_item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service_item__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  margin-top: 20%;
}

.service_item__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.__img_content {
  width: 100%;
  height: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.service_item__title {
  font-weight: 700;
  font-size: 1.75rem;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.service_item__description {
  color: #4b5563;
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 90%;
}

.service_item__option_count {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.service_item__stats {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2563eb;
  margin-bottom: 1rem;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkred;
  }
}

.service_item__option_reminder {
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.modifyButton {
  background-color: #facc15;
  margin-top: 1rem;

  &:hover {
    background-color: #eab308;
  }
}

.bookingConfirmationMessage {
  background-color: #14e9f729;
  color: #06335f;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

.manageBookingButton {
  margin-top: 0.5rem;
  background-color: #10b981;

  &:hover {
    background-color: #059669;
  }
}

@media (max-width: 600px) {
  .service_item {
    width: 95%;
  }
}
