.container {
  padding: 2rem;
}

.form {
  margin-bottom: 2rem;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #005bb5;
    }
  }
}

.notes {
  list-style-type: none;
  padding: 0;

  .note {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;

    h2 {
      margin-top: 0;
    }

    button {
      margin-right: 1rem;
      padding: 0.25rem 0.5rem;
      background-color: #75b2f7;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #005bb5;
      }

      &:last-of-type {
        background-color: #36e4f4;

        &:hover {
          background-color: #2f3dd3;
        }
      }
    }
  }
}
