.cruise {
  padding: 40px 20px;
  background: linear-gradient(#e3f7ff, #fff);
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  width: 80%;
  height: auto;
  flex-wrap: wrap;

  .logo_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding-right: 4rem;

    .logo_container {
      max-width: 8rem;
      padding: 10px 0;

      .logo {
        width: auto;
        height: auto;
        object-fit: cover;
      }
    }

    .title {
      font-size: 2.5rem;
      text-align: left;
      color: #003080;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
  }

  .excursions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }

  .excursionCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  .excursionImage {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .excursionContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .excursionTitle {
    font-size: 1.3rem;
    color: #003080;
    margin-bottom: 10px;
  }

  .excursionTime {
    font-size: 1.2rem;
    color: #25fde9;
    margin-bottom: 10px;
  }

  .excursionDescription {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    flex-grow: 1;
  }
}
