.footer__header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  // background-color: #fff;

  .link_infos {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
    bottom: 0;

    .link_list {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      justify-content: center;
      padding-left: 2rem;

      .link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        position: relative;
        margin-right: 2rem;

        .link__txt {
          display: flex;
          align-items: center;
          width: auto;
          height: 100%;

          p {
            font-size: 0.7rem;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
            color: gray;
          }
        }

        .link__img {
          display: flex;
          align-items: center;
          width: 5rem;
          height: auto;
          justify-content: center;
        }
      }
    }
  }
}

.footer__container {
  display: flex;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  .footer__bloc {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    bottom: 0;
    padding: 2rem;
    background-color: #fff;
    background: linear-gradient(#e3f7ff, #fff);

    .__bloc_container {
      height: 80vh;
      width: 100%;
      justify-content: center;
      display: flex;
      padding: 1rem;

      .__bloc_content {
        padding: 1rem;
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
        z-index: 999;
        background-color: #111719b0;
        border-radius: 10px;
        backdrop-filter: blur(4px);
        box-shadow: 2px 4px 6px #bac6c8;
        padding: 2rem;
        overflow: hidden;

        .google {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
        }

        .footer_list__content {
          display: flex;
          width: 40%;
          height: 100%;
          overflow: hidden;
          position: relative;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .bloc_text {
            text-align: center;
            display: flex;
            align-items: center;
            padding: 2rem;
            background: #ffffffcf;
            backdrop-filter: blur(5px);
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            flex-direction: column;
          }

          #bloc_text__contact {
            font-weight: bolder;
          }
          .footer_baseline {
            display: flex;
            width: 100%;
            height: auto;
            padding: 1rem;
            justify-content: center;
            p {
              color: #fff;
              font-style: italic;
              font-weight: lighter;
            }
          }
        }
      }
    }

    .footer_infos {
      display: flex;
      width: 100%;
      height: 100%;
      bottom: 0;
      background-color: #2c323b;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: fixed;

      .footer_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        filter: opacity(69%);
        object-position: bottom;
        z-index: -1;
      }

      .footer_infos__container {
        display: flex;
        width: 100%;
        height: 8rem;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        //padding: 1rem;
        flex-direction: column;
        //background: #e3f7ff;

        .column {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          //padding: 1rem;
          align-items: center;
          z-index: 999;

          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            /* flex-direction: column; */
            height: 100%;
            padding: 0.5rem;
            text-align: center;
            align-content: center;
            align-items: center;
            z-index: 999;
            color: gray;
            width: 100%;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              position: relative;
              margin-bottom: 0.5rem;
              z-index: 999;
              color: gray;

              a {
                text-decoration: none;
                font-size: 0.7rem;
                font-weight: 600;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease-in-out;
                color: gray;

                &:hover {
                  color: #000;
                  transform: scale(1.05);
                }
              }
            }
          }
        }
        .__copyright {
          display: flex;
          font-size: 10px;
          width: 100%;
          align-items: center;
          bottom: 0;
          height: auto;
          position: relative;
          justify-content: center;
          bottom: 0;

          .__copyright__img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            align-items: center;
            padding-top: 0.5rem;
            cursor: pointer;
            justify-content: center;

            .logo {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

////////////////////RESPONSIVE////////////////////
@media screen and (max-width: 1440px) {
  .footer__container {
    .footer__bloc {
      width: 100%;
      height: 80%;
      .__bloc_container {
        height: 60%;
        .footer_infos {
          display: flex;
          width: 100%;
          bottom: 0;
          background-color: #fff;
          .footer_infos__container {
            justify-content: center;
            width: 80%;
            .column {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1244px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        padding-left: 0;
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .footer__container {
    display: flex;
    height: 100vh;
    background-color: #fff;
    .footer__bloc {
      padding: 0;
      flex-direction: column;
      margin-top: 3vh;
      .__bloc_container {
        width: auto;
        flex-direction: column;
        align-items: center;
        .__bloc_content {
          flex-direction: column;
          width: 100%;
          .google {
            width: 100%;
          }
          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 4rem;
          }
        }
      }
      .footer_infos {
        height: auto;
        .footer_infos__container {
          height: auto;
          width: 100%;
          .column {
            width: 100%;
            ul {
              list-style-type: none;
              padding: 0;
              display: flex;
              flex-direction: column;
              height: 100%;
              padding: 0.5rem;
              text-align: center;
              align-content: center;
              align-items: center;
            }
          }
        }
        .__copyright {
          display: flex;
          font-size: 10px;
          width: 100%;
          align-items: center;
          justify-content: center;
          bottom: 0;
          padding: 1rem;
          height: 3rem;
          position: relative;
          .__copyright__img {
            display: flex;
            justify-content: center;
            width: auto;
            height: auto;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 11vh;
    // z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .footer__container {
    height: auto;
    margin-top: 2rem;
    width: 100%;
    .footer__bloc {
      padding: 0;
      margin-top: 0;
      .__bloc_container {
        width: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .__bloc_content {
          flex-direction: column;
          width: 100%;
          .footer_list__content {
            display: flex;
            width: 100%;
            padding: 0;
            margin-top: 2rem;
          }
        }
      }
      .footer_infos {
        margin-top: 2rem;
        position: relative;
        .footer_infos__container {
          width: 100%;
          .column {
            margin-bottom: 2rem;
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    margin-top: 4vh;
    .footer__bloc {
      padding: 0;
      margin-top: 0;
      .__bloc_container {
        margin-top: 7vh;
        .__bloc_content {
          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .footer_infos {
        .footer_infos__container {
          flex-direction: column;
          .column {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 8vh;

    .link_infos {
      width: 50%;
      height: 8vh;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
