.footer__header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .link_infos {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
    bottom: 0;

    .link_list {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      justify-content: center;
      padding-left: 2rem;

      .link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        position: relative;
        margin-right: 2rem;

        .link__txt {
          display: flex;
          align-items: center;
          width: auto;
          height: 100%;

          p {
            font-size: 0.7rem;
            font-family: var(--nixie_one);
          }
        }

        .link__img {
          display: flex;
          align-items: center;
          width: 5rem;
          height: auto;
          justify-content: center;

          .__icon {
            width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer__container {
  display: flex;
  width: 100%;
  height: 80vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  background-color: #fff;

  .footer__bloc {
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    bottom: 0;
    padding: 2rem;
    margin-top: 5vh;
    background-color: #fff;
    //border: 4px solid rgb(0, 179, 255);

    .__bloc_container {
      height: 55%;
      width: 100%;
      justify-content: center;
      display: flex;
      padding: 1rem;
      //border: 4px solid red;

      .__bloc_content {
        display: flex;
        width: 100%;
        height: auto;
        /* justify-content: center; */
        align-items: center;
        background-color: #fff;
        justify-content: space-evenly;

        .google {
          display: flex;
          width: 40%;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
        /* bloc droit map */
        .footer_list__content {
          display: flex;
          width: 40%;
          height: 100%;
          overflow: hidden;
          position: relative;

          // 🌟 Image de fond
          .footer_image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(90%) blur(1.3px);
          }

          .footer_list__border {
            display: flex;
            transition: border-width ease-in;
            width: 100%;
            align-items: center;
            max-height: 20rem;
            position: relative;
            border: 2px solid transparent;
            flex-direction: column;
            padding: 2rem;
            justify-content: center;
            text-align: center;

            p {
              line-height: 2;
              color: #12c3de;
            }

            &::before,
            &::after {
              display: block;
              content: "";
              width: 40px;
              height: 40px;
              position: absolute;
            }

            &::before {
              top: -2px;
              left: -2px;
              border-top: 2px solid #1009ee;
              border-left: 2px solid #1009ee;
              transition:
                width 0.5s ease-in-out,
                height 0.5s ease-in-out;
            }

            &::after {
              bottom: -2px;
              right: -2px;
              border-bottom: 2px solid #1009ee;
              border-right: 2px solid #1009ee;
              transition:
                width 0.5s ease-in-out,
                height 0.5s ease-in-out;
            }

            &:hover::before,
            &:hover::after {
              width: 15%;
              height: 30%;
              color: red;
            }
          }
        }
      }
    }
    ///////////////// bloc bottom
    .footer_infos {
      display: flex;
      width: 100%;
      height: auto;
      bottom: 0;
      background-color: #fff;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: fixed;
      padding: 2rem;

      .footer_infos__container {
        display: flex;
        width: 100%;
        height: auto;
        width: 70%;
        height: auto;
        justify-content: space-evenly;
        background-color: #fff;
        //border: 4px solid rgb(13, 0, 255);

        .column {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          color: #003080;
          align-items: center;

          .column__title {
            display: flex;
            width: 100%;
            height: auto;
            //height: 1.5rem;
            justify-content: center;
            text-align: center;
          }

          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            //width: 100%;
            height: 100%;
            padding: 0.5rem;
            text-align: center;
            //border: 4px solid rgb(217, 0, 255);
            //justify-content: center;
            align-content: center;
            align-items: center;

            .__info {
              display: flex;
              width: 100%;
              height: auto;
              align-items: center;
              cursor: pointer;
              position: relative;
              justify-content: center;
              align-items: flex-start;
              //color: aqua;
              //border: 4px solid rgb(238, 255, 0);

              &#__info_mail {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                justify-content: flex-start;
                //border: 4px solid rgb(0, 247, 255);
                justify-content: flex-start;
                width: 31%;
              }

              .__txt {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;
                line-height: 1.7;
                &#number_phone {
                  margin-top: 1rem;
                  margin-bottom: 2rem;
                }

                &#__text_mail {
                  width: 100%;
                  height: auto;
                  display: flex;
                }

                p {
                  font-size: 1rem;
                  text-align: center;

                  &#adress {
                    cursor: default;
                    font-size: 1rem;
                    line-height: 1.4;
                  }
                }

                .__img {
                  display: flex;
                  justify-content: center;
                  width: 2rem;
                  height: 100%;
                  align-items: center;

                  .__icon {
                    object-fit: contain;
                  }
                }

                .__info_adress_bloc {
                  display: flex;
                  width: 100%;
                  height: 4rem;
                  border: none;
                }
                &#brand {
                  color: #000;
                  &:hover {
                    color: gray;
                  }
                }
              }
            }
          }
        }
      }

      .__copyright {
        display: flex;
        font-size: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        bottom: 0;
        padding: 1rem;
        height: 3rem;
        position: relative;

        .__copyright__img {
          display: flex;
          justify-content: center;
          width: auto;
          height: auto;
          align-items: center;
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

/////////////////// RESPONSIVE /////////////////
@media screen and (max-width: 1440px) {
  .footer__container {
    .footer__bloc {
      width: 100%;
      height: 80%;
      .__bloc_container {
        height: 60%;
        //border: 5px solid blue;
        .footer_infos {
          display: flex;
          width: 100%;
          bottom: 0;
          background-color: #fff;
          .footer_infos__container {
            justify-content: center;
            width: 80%;
            .column {
              width: 100%;
              ul {
                .__info {
                  &#__info_insta,
                  &#__info_mail {
                    width: 45%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        padding-left: 0;
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            #phone {
              height: 40px;
              width: 40px;
            }
            .__icon {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .footer__container {
    display: flex;
    height: 100vh;
    background-color: #fff;
    .footer__bloc {
      padding: 0;
      flex-direction: column;
      margin-top: 3vh;
      .__bloc_container {
        width: auto;
        flex-direction: column;
        align-items: center;
        .__bloc_content {
          flex-direction: column;
          width: 100%;
          .google {
            width: 100%;
          }
          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 4rem;
          }
        }
      }
      .footer_infos {
        height: auto;
        .footer_infos__container {
          height: auto;
          width: 100%;
          .column {
            width: 100%;
            ul {
              list-style-type: none;
              padding: 0;
              display: flex;
              flex-direction: column;
              height: 100%;
              padding: 0.5rem;
              text-align: center;
              align-content: center;
              align-items: center;
              .__info {
                display: flex;
                width: 100%;
                height: auto;
                align-items: center;
                cursor: pointer;
                position: relative;
                justify-content: center;
                align-items: flex-start;
                font-size: 0.8rem;
                &#__info_insta,
                &#__info_mail {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: auto;
                  justify-content: flex-start;
                  //border: 4px solid rgb(0, 247, 255);
                  justify-content: flex-start;
                  width: 36%;
                }

                .__txt {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  justify-content: center;
                  line-height: 1.7;

                  &#__text_insta,
                  &#__text_mail {
                    width: 100%;
                    height: auto;
                    display: flex;
                  }

                  p {
                    font-size: 0.7rem;
                    text-align: center;

                    &#adress {
                      cursor: default;
                      font-size: 0.8rem;
                      line-height: 1.4;
                    }
                  }
                  .__img {
                    display: flex;
                    justify-content: center;
                    width: 2rem;
                    height: 100%;
                    align-items: center;
                    .__icon {
                      object-fit: contain;
                    }
                  }
                  .__info_adress_bloc {
                    display: flex;
                    width: 100%;
                    height: 4rem;
                    border: none;
                  }
                  &#brand {
                    color: #000;
                    &:hover {
                      color: gray;
                    }
                  }
                }
              }
            }
          }
        }
        .__copyright {
          display: flex;
          font-size: 10px;
          width: 100%;
          align-items: center;
          justify-content: center;
          bottom: 0;
          padding: 1rem;
          height: 3rem;
          position: relative;

          .__copyright__img {
            display: flex;
            justify-content: center;
            width: auto;
            height: auto;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            #phone {
              width: 40px;
            }
            .__icon {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .footer__container {
    height: auto;
    margin-top: 2rem;
    width: 100%;
    .footer__bloc {
      padding: 0;
      margin-top: 0;
      .__bloc_container {
        width: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .__bloc_content {
          flex-direction: column;
          width: 100%;
          .footer_list__content {
            display: flex;
            width: 100%;
            padding: 0;
            margin-top: 2rem;
            .footer_list__border {
              padding: 1rem;
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      .footer_infos {
        margin-top: 2rem;
        position: relative;
        .footer_infos__container {
          width: 100%;
          .column {
            margin-bottom: 2rem;
            width: auto;
            .column__title {
              h3 {
                font-size: 1rem;
              }
            }
            ul {
              .__info {
                &#__info_insta,
                &#__info_mail {
                  width: 69%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .footer__container {
    margin-top: 4vh;
    .footer__bloc {
      padding: 0;
      margin-top: 0;
      .__bloc_container {
        margin-top: 7vh;
        .__bloc_content {
          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .footer_infos {
        .footer_infos__container {
          flex-direction: column;
          .column {
            margin-bottom: 1rem;
            .column__title {
              h3 {
                font-size: 0.8rem;
              }
            }
            ul {
              .__info {
                font-size: 0.7rem;
                &#__info_insta,
                &#__info_mail {
                  width: 32%;
                }
              }
            }
          }
        }
      }
    }
  }
}
