// 🌊 Couleurs principales
$bleu-fonce: #003080;
$bleu-turquoise: #25fde9;
$bleu-clair: #14e9f7;
$blanc: #fff;
$fond-transparent: rgba(255, 255, 255, 0.2); // Légère transparence

// 🌟 Wrapper principal
.heroWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  // border: 4px solid turquoise;

  // 🌟 Image de fond
  .heroImage {
    object-fit: cover;
    // filter: brightness(90%); // Légèrement plus clair
    // object-position: center;
    object-position: 38% 25%;
    width: auto;
    height: 100%;
  }

  // 🌟 Contenu principal (effet verre dépoli)
  .heroContent {
    position: absolute;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 2rem;

    // border: 4px solid red;
    width: 100%;
    height: 100%;

    .hero_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      color: #fff;
      // border: 4px solid #fff;
      /* max-width: 80%; */
      width: 100%;
      height: 100%;

      // 🌟 Texte principal
      .hero_bloc {
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $blanc;
        padding: 2rem;
        // border: 4px solid yellow;
      }

      .hero_text {
        display: flex;
        height: auto;
        width: 100%;

        /* justify-content: center; */
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: center; */

        text-align: center;
        /* border: 4px solid red; */
        position: absolute;
        bottom: 0;
        font-style: italic;
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        position: absolute;

        font-style: italic;
        right: 5rem;
        /* padding: 3rem; */
        bottom: 3rem;
        padding: 3rem;
        h1 {
          font-size: 2rem;
          color: #003080;
          text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
///////////////// Responsive //////////////
// @media (max-width: 768px) {
//   .heroWrapper {
//     position: relative;
//     width: 100vw;
//     height: 50vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;

//     .heroContent {
//       max-width: 90%;
//       margin-top: 5rem;
//       padding: 1rem;
//     }

//     // 🌟 Texte principal
//     .heroText {
//       .heroText__tarifs_btn {
//         padding: 0;
//         display: flex;
//         height: auto;
//         width: 100%;
//         justify-content: center;
//       }

//       h1 {
//         font-size: 1.2rem;
//       }

//       h2 {
//         font-size: 1rem;
//         margin: 1rem 0;
//       }

//       p {
//         font-size: 0.7rem;
//         margin-bottom: 1rem;
//         text-align: left;
//       }
//     }

//     .heroButtons {
//       flex-direction: column;
//       margin-top: 0;
//     }
//     .buttonHero {
//       font-size: 0.5rem;
//       padding: 7px 14px;
//     }
//   }
// }

// @media screen and (max-width: 375px) {
//   .heroWrapper {
//     position: relative;
//     width: 100vw;
//     height: 50vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;

//     .heroContent {
//       max-width: 90%;
//       margin-top: 7rem;
//       padding: 0.7rem;
//     }

//     // 🌟 Texte principal
//     .heroText {
//       .heroText__tarifs_btn {
//         padding: 0;
//         display: flex;
//         height: auto;
//         width: 100%;
//         justify-content: center;
//       }

//       h1 {
//         font-size: 1.2rem;
//       }

//       h2 {
//         font-size: 1rem;
//         margin: 1rem 0;
//       }

//       p {
//         font-size: 0.7rem;
//         margin-bottom: 1rem;
//         text-align: left;
//       }
//     }

//     .heroButtons {
//       flex-direction: column;
//       margin-top: 0;
//     }
//     .buttonHero {
//       font-size: 0.5rem;
//       padding: 7px 14px;
//     }
//   }
// }
//////////////////// RESPONSIVE ////////////////////

@media screen and (max-width: 1200px) {
  .hero_text {
    right: 3rem;
    bottom: 2rem;
    padding: 2rem;

    h1 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 920px) {
  .heroWrapper {
    // height: 60vh; // conserve le format full height
    margin-top: 20vh;
    .heroContent {
      padding: 1.5rem;

      .hero_container {
        .hero_bloc {
          padding: 1.5rem;
        }

        .hero_text {
          right: 0 !important;
          bottom: 2rem;
          align-items: flex-end;
          padding: 2rem;

          h1 {
            font-size: 1.6rem;
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .heroWrapper {
    .heroImage {
      object-position: 38% 25%;
    }

    .heroContent {
      .hero_container {
        .hero_text {
          padding: 1rem;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 1.4rem;
            color: $bleu-fonce;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .heroWrapper {
    height: 62vh;
    margin-top: 20vh;
    .heroImage {
      object-position: 38% 25%;
    }

    .heroContent {
      .hero_container {
        margin-top: 10vh;
        .hero_text {
          padding: 1rem;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 1.2rem;
            color: $bleu-fonce;
          }
        }
      }
    }
  }
}
