.my_bookings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-top: 5vh;

  .my_bookings__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .logo_title_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 4rem;
      color: #003080;

      .logo_container {
        max-width: 5rem;
        padding: 10px 0;

        .logo {
          width: auto;
          height: auto;
          object-fit: cover;
        }

        .title {
          font-size: 2rem;
          text-align: left;
          color: #003080;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
        }
      }
    }

    .noBookings {
      text-align: center;
      font-size: 1.2rem;
      color: #666; /* Couleur plus claire */
    }

    .bookings_list {
      display: flex;
      gap: 20px;
      padding: 20px;
      justify-content: space-around;

      .bookings_cards {
        display: flex;
        background: linear-gradient(#e3f7ff, #fff);
        //padding: 4rem 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 12px #0000001a;
        transition: all 0.3s;
        display: block;
        width: 80%;
        padding: 3rem;

        .bookings_cards__content {
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease-in-out;
          border-left: 5px solid #007bff;

          &:hover {
            transform: translateY(-5px);
          }

          .status {
            font-weight: bold;
            color: turquoise; /* Couleur spécifique pour le statut */
          }

          .price {
            font-weight: bold;
            color: #007bff; /* Couleur pour le montant */
          }

          .manageButton {
            display: block;
            text-align: center;
            margin-top: 15px;
            padding: 10px;
            background: #007bff; /* Bouton bleu */
            color: white;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s;

            &:hover {
              background: #0056b3; /* Couleur du bouton au survol */
            }
          }
        }
      }
    }
  }
}
/* Responsive.scss - Styles pour la réactivité */
@media screen and (max-width: 768px) {
  .bookings_list {
    grid-template-columns: 1fr; /* Affichage en colonne unique sur mobile */
  }
}
