.cavalaire {
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .content_wrapper {
    width: 80%;
    padding: 42px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -50px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease; /* Transition plus fluide pour l'élévation */

    &:hover {
      transform: translateY(-5px); /* Effet de survol pour le container */
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    }

    .logo_title_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
      position: relative;

      .title {
        font-size: 2rem;
        font-weight: bold;
        color: #003080;
        font-family: "Roboto", sans-serif;
        text-align: center;
        z-index: 1;
      }

      .logo_container {
        position: absolute;
        left: calc(50% - 202px); // décale à gauche du centre
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;

        .logo {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .content {
      display: flex;
      gap: 40px;
      margin-bottom: 40px;
    }

    .text_container {
      flex: 1;
      padding: 20px;
      background: linear-gradient(180deg, #e3f7ff, #ffffff);
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.3s ease; /* Ajout de la transition uniquement sur l'ombre */

      p {
        line-height: 1.8;
        color: #333;
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        transition: color 0.3s ease; /* Transition fluide pour la couleur */
      }

      &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
      }

      p:hover {
        color: #003080; /* Changement de couleur du texte au survol */
      }
    }
  }

  .carousel_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}
////////////////RESPONSIVE////////////////////
@media (max-width: 1200px) {
  .cavalaire {
    padding: 40px 20px;
    .content_wrapper {
      width: 90%;
      .logo_title_wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        border: 4px solid #18ef09;

        .title {
          font-size: 2rem;
          font-weight: bold;
          color: #003080;
          font-family: "Roboto", sans-serif;
          text-align: center;
          z-index: 1;
        }

        .logo_container {
          position: absolute;
          left: calc(50% - 164px);
          top: 50%;
          transform: translateY(-50%);
          width: 100px;
          height: 100px;

          .logo {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .cavalaire {
    .content_wrapper {
      width: 90%;
      padding: 40px 20px;
      .logo_title_wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        .title {
          font-size: 1.5rem;
          font-weight: bold;
          color: #003080;
          font-family: "Roboto", sans-serif;
          text-align: center;
          z-index: 1;
        }
        .logo_container {
          position: absolute;
          left: calc(50% - 132px);
          top: 50%;
          transform: translateY(-50%);
          width: 100px;
          height: 100px;
          // .logo {
          //   width: 100%;
          //   height: 100%;
          //   object-fit: contain;
          // }
        }
      }
    }
  }
}
