:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.signup_page,
.signin_page {
  display: flex;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 4px solid blue;
}

.secret_container {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 45rem;
  border: 4px solid fuchsia;
}

.__secret {
  margin-bottom: 5rem;
}

.text_area {
  display: flex;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
}

.error_display {
  color: red;
  font-size: 1rem;
}

.btn_secret {
  width: 100%;
  background-color: blue;
  color: azure;
  padding: 0.5rem;
  border-radius: 4px;
  width: auto;
  height: auto;
}
.btn_secret:hover {
  background-color: rgb(110, 125, 241);
}

.wrapper_container {
  display: flex;
  width: auto;
  height: auto;
  /* border: 4px solid blue; */
  padding: 5px;
  margin-top: 10vh;
  justify-content: center;
  flex-wrap: wrap;
}
/* Global container for the page */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/*  Button for opening the modal */
.btn_modal_service {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

/* Modal specific styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalTitle {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalContent {
  margin-top: 1rem;
}

.text_service__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text_service {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.service_input {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.service_input__amount {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
}
/* /////////// */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.btnModalService {
  background-color: #0420f1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btnModalService:hover {
  background-color: #3348a4;
}

.textServiceTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.textService {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.serviceInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.serviceInputName,
.serviceInputAmount {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.btnHandleAddBudget {
  background-color: #008cba;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btnHandleAddBudget:hover {
  background-color: #007bb5;
}

/* ///////// */
.manage_service {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  border: 4px solid red;
  background-color: #f9f9f9;
}

.manage_service_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.manage_service_bloc {
  display: flex;
  width: 100%;
  height: auto;
  border: 4px solid greenyellow;
  flex-wrap: wrap;
  justify-content: center;
}

.manage_service_table {
  display: flex;
  width: auto;
  height: auto;
  border: 4px solid fuchsia;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btn_form {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.btn_secret:hover {
  background-color: #ff4c4c;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input_form_description,
.input_form_montant {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input_form_description:focus,
.input_form_montant:focus {
  border-color: #4a90e2;
  outline: none;
}

.no_transaction {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  border: 4px solid yellow;
  justify-content: center;
}

.no_transaction_ {
  color: gray;
}
/* ////////table/////// */
.table_container {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
}

.table_container th,
.table_container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table_container th {
  background-color: #f2f2f2;
  text-align: left;
}

.table_container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table_container tr:hover {
  background-color: #ddd;
}

.table_container th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: white;
}

.transaction_list {
  list-style-type: none;
  padding: 0;
}

.transaction_list li {
  padding: 5px 0;
}

/* ////////////// */
.transactions_select {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  justify-content: flex-end;
}

.transactions_select__input {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 4px solid blue;
}
.transactions_container {
  overflow-x: auto;
  display: flex;
  width: 100%;
  background-color: rgba(239, 239, 240);
}

.loading {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.loading-_info {
  color: gray;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
}

.list_transactions {
  display: flex;
  flex-direction: column;
}

/* /////////// */

.dashboard_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard_container__box {
  display: flex;
  padding: 5px;
  border: 3px solid gray;
  align-items: center;
  border-radius: 10px;
  width: auto;
  height: auto;
}

.__box {
  display: flex;
  margin: 5px;
  flex-direction: column;
}

.item {
  font-weight: bold;
  font-size: 1.2rem;
}
/* //////////////////// */
.spinner_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/* /////// */
.admin_dashboard_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.opening_hours,
.service {
  display: inline-flex;
  background-color: #d4d4e0;
  border-radius: 10px;
  padding: 12px;
  margin: 12px;
  border: 2px solid blue;
  width: auto;
  height: auto;
}

/* //////// */
.options {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 2px solid turquoise;
  flex-wrap: wrap;
  flex-direction: column;
}
.btn_option {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
/* //////////////RESPONSIVE///////////// */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (max-width: 1200px) {
  .__box {
    flex: 1 1 calc(33.333% - 10px);
  }
}

@media (max-width: 800px) {
  .__box {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .__box {
    flex: 1 1 calc(100% - 10px);
  }
}
