.title {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
}

.bookings {
  margin-top: 4rem;
  padding: 2rem;
  background: aliceblue;
  border-radius: 8px;
}

.bookingList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-content: center;
}

.bookingItem {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
  width: 300px;
}

.error {
  color: red;
}
