.carousel {
  position: relative;
  width: 60%;
  height: 570px;
  overflow: hidden;

  .caption {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 999;
  }

  .caption h2 {
    color: #fff;
    font-size: 1.1rem;
    margin: 0;
  }

  .slide {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .indicator {
    width: 20px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    appearance: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    &.active {
      background-color: #fff;
    }
  }
}
/////////RESPONSIVE////////////////
@media (max-width: 1024px) {
  .carousel {
    width: 80%;
    height: 400px;

    .caption h2 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    width: 95%;
    height: 320px;

    .caption {
      top: 10px;
      left: 10px;
      padding: 0.4rem 0.8rem;

      h2 {
        font-size: 0.7rem;
      }
    }

    .indicators {
      bottom: 15px;
      gap: 8px;

      .indicator {
        width: 15px;
        height: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 250px;

    .caption h2 {
      font-size: 0.5rem;
    }

    .indicators {
      bottom: 10px;
      gap: 6px;
    }
  }
}
