.carousel {
  position: relative;
  width: 60%;
  height: 570px;
  overflow: hidden;

  .caption {
    position: absolute;
    top: 15px; /* Décale le titre du bord supérieur */
    left: 15px; /* Décale le titre du bord gauche */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 999; /* S'assure que le titre soit au-dessus de l'image */
  }

  .caption h2 {
    color: #fff;
    font-size: 1.1rem;
    margin: 0; /* Enlève les marges par défaut du h2 */
  }

  .slide {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;

    &.active {
      background-color: white;
    }
  }
}
