.service_card {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #e5e7eb;
  margin: 1rem;
  width: 45rem;
  max-width: 22rem;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  // Hover effect
  &:hover {
    transform: translateY(-10px);
    border-color: #38bdf8;
  }
}

.service_card__img_content {
  display: flex;
  width: 100%;
  height: 100%;
  border: 10px solid green;

  .service_card__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
  }
}

.service__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
  color: #333;
}

.service__description {
  font-size: 1rem;
  margin: 0 1rem;
  color: #6b7280;
}

.service__price {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
  color: #38bdf8;
  font-weight: bold;
}

.service__transactions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #6b7280;
  font-size: 1rem;
}

.service__progress {
  width: 100%;
  margin-top: 1rem;

  & progress {
    width: 100%;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: #e5e7eb;
      border-radius: 0.5rem;
    }

    &::-webkit-progress-value {
      background-color: #38bdf8;
      border-radius: 0.5rem;
    }

    &::-moz-progress-bar {
      background-color: #38bdf8;
      border-radius: 0.5rem;
    }
  }
}

.service__date {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #6b7280;
}
