$bleu-fonce: #003080;
$bleu-turquoise: #25fde9;
$bleu-clair: #14e9f7;
$blanc: #fff;
$transparent-white: rgba(255, 255, 255, 0.85);

.maintenanceContainer {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  background: #fffffff5;
  border-radius: 15px;
  box-shadow: 0 4px 10px #0000007a;
  text-align: center;

  .boatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 3rem;

    .boat {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .logo_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;

    .title {
      color: #003080;
      text-align: center;
      z-index: 1;
    }

    .logo_container {
      position: absolute;
      left: calc(50% - 311px); // décale à gauche du centre
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 100px;

      .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003080;
    margin-bottom: 15px;
  }

  .text {
    font-size: 1.3rem;
    color: $bleu-fonce;
    margin-bottom: 15px;
  }

  .ctaButton {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    background: $bleu-clair;
    color: $bleu-fonce;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    &:hover {
      background: $bleu-turquoise;
      transform: translateY(-2px);
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
  }

  .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #14e9f7;
    color: #003080;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      background-color: #25fde9;
      transform: translateY(-3px);
    }
  }
}
////////////////RESPONSIVE////////////////////
@media (max-width: 768px) {
  .maintenanceContainer {
    width: 500px;
    margin: 50px auto;
    padding: 30px;

    .logo_container {
      position: absolute;
      left: calc(50% - 247px); // décale à gauche du centre
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 100px;

      .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .title {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 400px) {
  .maintenanceContainer {
    width: 320px;
    margin: 50px auto;
    padding: 30px;

    .logo_container {
      .logo_container {
        left: calc(50% - 180px); // adaptatif
      }

      .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .title {
      font-size: 1.3rem;
      margin-bottom: 5px;
    }
  }
}
