$bleu-fonce: #003080;
$bleu-turquoise: #25fde9;
$bleu-clair: #14e9f7;
$blanc: #fff;
$transparent-white: rgba(255, 255, 255, 0.85);

.maintenanceContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background: $transparent-white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .logo {
      width: 100px;
      height: auto;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $bleu-fonce;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: $bleu-turquoise;
    margin-bottom: 15px;
  }

  .text {
    font-size: 1rem;
    color: $bleu-fonce;
    margin-bottom: 15px;
  }

  .ctaButton {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    background: $bleu-clair;
    color: $bleu-fonce;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $bleu-turquoise;
      transform: translateY(-2px);
    }
  }
}
////////////////RESPONSIVE////////////////////
@media (max-width: 768px) {
  .maintenanceContainer {
    width: 350px;
    margin: 50px auto;
    padding: 30px;

    .logoContainer {
      margin-bottom: 10px;
    }
    .title {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }
}
