.transaction_item_list {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  align-items: center;
  //border: 4px solid rgb(0, 255, 30);

  .transaction_item_list__bloc {
    display: flex;
    //border: 4px solid rgb(255, 0, 230);
    margin: 0.5rem;

    .btn_transaction_item {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 7px;
      &:hover {
        background-color: #0056b3;
      }
    }

    .transaction_item__badge {
      display: flex;
      background: rgba(234, 234, 234);
      padding: 2px;
      border-radius: 30px;
      margin: 4px;
      width: 3rem;
      color: blue;
    }
  }

  .transaction_item__infos_bloc {
    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
    //border: 3px solid blue;

    .transaction_item__description {
      font-weight: bold;
      display: flex;
      justify-content: center;
      //width: 32rem;
      padding: 0.3rem;
      width: 100%;
      //border: 1px solid rgb(228, 8, 8);
    }
    .transaction_item__date_time {
      display: inline-flex;
      padding: 0.3rem;
      width: 22rem;
      //border: 1px solid #02081d;
      justify-content: center;
    }
  }

  .transaction_item__see_more {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 2px solid rgb(4, 187, 248);
  }
}
