.googlemap {
  display: flex;
  width: 100%;
  // align-items: flex-start;
  height: 100%;

  .map {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;

    .map__container {
      height: 20rem;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      display: flex;
    }

    .__btn_box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      justify-content: space-around;

      p {
        font-size: 0.7rem;
      }

      button {
        &.__btnPosition,
        &.__btn_googlemap {
          justify-content: center;
          display: flex;
          cursor: pointer;
          background-color: transparent;
          font-weight: bold;
          border: none;
          position: relative;
          overflow: hidden;
          color: gray;

          &:hover {
            color: #000;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
          }

          &:hover::before {
            transform: scaleX(1);
          }

          img {
            width: 21px;
          }
        }
      }
    }

    .property {
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
      color: #000;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 4px;
      position: relative;
      transition: all 0.3s ease-out;
      width: 40px;

      &::after {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #fff;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: 95%;
        transform: translate(-50%, 0);
        transition: all 0.3s ease-out;
        width: 0;
        z-index: 1;
      }

      .icon {
        align-items: center;
        display: flex;
        justify-content: center;
        object-fit: cover;
      }

      img {
        width: 25px;
        object-fit: cover;
      }

      .details {
        display: none;
        flex-direction: column;
        flex: 1;
      }

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      &.highlight {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        height: 90px;
        padding: 8px 15px;
        width: auto;

        img {
          width: 28px;
          height: auto;
          object-fit: cover;
        }
      }

      &.highlight::after {
        border-top: 9px solid red;
      }

      &.highlight .details {
        display: flex;
      }
    }

    .custom_info_window {
      background-color: #fff;
      border-radius: 8px;
      height: auto;
      width: auto;
      transition: all 0.3s ease-out;

      h3 {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

/////////////////// RESPONSIVE ////////////////
@media (max-width: 1024px) {
  .googlemap {
    padding: 0;
    .map {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .map__container {
        height: 32rem;
      }
      .__btn_box {
        height: 3rem;
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .googlemap {
    padding: 0;
    .map {
      .map__container {
        height: 23rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .googlemap {
    padding: 0;
    .map {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .map__container {
        height: 22rem;
      }
      .__btn_box {
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}
